<ul >
  {{#events}}
    <table>
        <tr>
            <th>Event Title></th><th>Event Description</th>
        </tr>
        <tr>
            <td>{{ title }}</td> <td>{{ description }}</td>
        </tr>
    </table>
  {{/events}}
</ul>